source http://nuget.org/api/v2
framework: >= net461
redirects: on

nuget FSharp.Core
nuget Microsoft.AspNet.WebApi.Client
nuget Newtonsoft.Json

group Build
    source http://nuget.org/api/v2
    framework: >= net461

    nuget FAKE
    nuget SourceLink.Fake
    nuget FSharp.Formatting
    nuget RazorEngine

group Test
    source http://nuget.org/api/v2
    framework: >= net461

    nuget Unquote
    nuget NUnit
    nuget NUnit.Runners