source http://nuget.org/api/v2
framework: auto-detect

nuget FSharp.Core 4.2.3
nuget Microsoft.AspNet.WebApi.Client
nuget Newtonsoft.Json

group Build
    source http://nuget.org/api/v2
    framework: >= net461
    redirects: on

    nuget FAKE
    nuget FSharp.Formatting
    nuget RazorEngine

group Test
    source http://nuget.org/api/v2
    framework: auto-detect

    nuget Microsoft.NET.Test.Sdk
    nuget NUnit
    nuget NUnit.Runners
    nuget NUnit3TestAdapter
    nuget Unquote
