{
  "source": {
    "include": ["{source_dir}"],
    "includePattern": ".+\\.(js|jsx|ts|tsx)$",
    "excludePattern": "(^|\\/|\\\\)_"
  },
  "opts": {
    "destination": "{output_dir}",
    "recurse": true,
    "readme": "README.md",
    "template": "node_modules/{template}"
  },
  "plugins": ["plugins/markdown"],
  "templates": {
    "cleverLinks": false,
    "monospaceLinks": false
  }
}
