<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNetWebApi.Core" version="4.0.20126.16343" />
  <package id="FSharpx.Core" version="1.4.120213" />
  <package id="ImpromptuInterface" version="5.6.6" />
  <package id="ImpromptuInterface.FSharp" version="1.1.0" />
  <package id="NUnit" version="2.5.10.11092" />
  <package id="System.Json" version="4.0.20126.16343" />
  <package id="System.Net.Http" version="2.0.20126.16343" />
  <package id="System.Net.Http.Formatting" version="4.0.20126.16343" />
  <package id="System.Web.Http.Common" version="4.0.20126.16343" />
  <package id="Unquote" version="2.1.0" />
</packages>